@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-linear-to-br from-slate-50 via-blue-50 to-indigo-50;
  max-width: 100%;
  height: 100%;
  @media (prefers-color-scheme: light) {
    color-scheme: dark;
  }
  scrollbar-width: none;
}

.MainWrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
